<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from moonart.net.ua/htmlcut/cakes/invisio_cakes/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 21 Nov 2015 17:08:38 GMT -->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1, initial-scale=1.0, user-scalable=no">
  <title>Invisio</title>
  <link rel="shortcut icon" href="img/favicon.png" type="image/png">
  <link href="fonts/fonts.css" rel="stylesheet" type="text/css">
  <link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="loader">
    <img src="img/loader.gif" alt="loader">
</div>

<header id="header" class="hdTwo">
  <div class="container">
	<nav class="social" id="headerShareLinksHover">
      <a href="#" class="share-link"></a>
      <ul>
        <li class="facebook" style="top:-65px;" data-top="-65px">
          <a href="https://www.facebook.com/" target="_blank"></a>
        </li>
        <li class="twitter" style="top:-130px;" data-top="-130px">
          <a href="https://twitter.com/" target="_blank"></a>
        </li>
        <li class="google-plus" style="top:-195px;" data-top="-195px">
          <a href="https://plus.google.com/" target="_blank"></a>
        </li>
        <li class="pinterest" style="top:-260px;" data-top="-260px">
          <a href="https://www.pinterest.com/" target="_blank"></a>
        </li>
        <li class="linkedin" style="top:-325px;" data-top="-325px">
          <a href="https://www.linkedin.com/" target="_blank"></a>
        </li>
      </ul>
    </nav>

    <a href="#" class="show-nav"></a>
    <a href="index-2.html" class="logo mobile">
      <span class="icon"></span>
      <h1>Invisio</h1>
      <strong>cakes</strong>
    </a>
    <div class="hgroup">
      <a href="#" class="close-nav"></a>
      <nav class="main-nav">
        <ul class="left">
          <li><a class="active" href="index-2.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="products.html">Products</a></li>
        </ul>
        <div class="wrap-logo">
          <a href="index-2.html" class="logo" title="Invisio">
            <span class="icon"></span>
            <h1>Invisio</h1>
            <strong>cakes</strong>
          </a>
        </div>
        <ul class="right">
          <li><a href="services.html">Services</a></li>
          <li class="menu-item-has-children close"><a href="#">Blog</a>
          	<ul class="submenu">
            	<li><a href="blog.html">Blog style 1</a></li>
                <li><a href="blog_archive.html">Blog style 2</a></li>
            </ul>
          </li>
          <li><a href="contact_us.html">Contact Us</a></li>
        </ul>
      </nav>
      <div class="search">
        <a href="#" class="search-link"></a>
        <div class="search-form">
          <form action="#">
            <input type="text" value="Keyword" placeholder="">
            <input type="submit" value="">
          </form>
        </div>
      </div>
    </div>
  </div>  
</header>

<div id="page">
    <div class="home-slider full-height full-min-height">
      <div class="fixed-baner">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="bg bg-bg" style="background-image: url(temp/home_banner_1.jpg);"></div>
              <div class="container">
                <div class="top_bottom">
                  <div class="table">
                    <div class="t_td">
                      <div class="description animation-rotate hidden-320">Curabitur ultricies arcu non nibh</div>
                      <h2 class="animation-scale">We Make With Love</h2>
                      <a href="product_detail.html" class="btn red animation-btn">learn more about us</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="bg bg-bg" style="background-image: url(temp/home_banner_2.jpg);"></div>
              <div class="container">
                <div class="top_bottom">
                  <div class="table">
                    <div class="t_td">
                      <div class="description animation-rotate hidden-320">Pellentesque ullamcorper tincidunt</div>
                      <h2 class="animation-scale">All For Your Enjoyment</h2>
                      <a href="product_detail.html" class="btn red animation-btn">view our services</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="bg bg-bg" style="background-image: url(temp/home_banner_3.jpg);"></div>
              <div class="container">
                <div class="top_bottom">
                  <div class="table">
                    <div class="t_td">
                      <div class="description animation-rotate hidden-320">Suspendisse nec ante non lacus </div>
                      <h2 class="animation-scale">Taste Our Amazing Cakes</h2>
                      <a href="product_detail.html" class="btn red animation-btn">view aur delicious products</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pagination" data-0="margin-bottom:0px;" data-400="margin-bottom:100px;"></div>
          <!--<div class="wheel-wrap" data-0="margin-bottom:0px;" data-400="margin-bottom:100px;"><div class="wheel"></div></div>-->
        </div>
      </div>
    </div>
  
    <section class="home-services scale-text">
      <div class="container">
        <div class="section-title">
          <h1>Goodies That <b>We Do</b></h1>
          <div class="description">Proin mattis rutrum magna, et pretium erat tincidunt at. Donec lectus ipsum, pulvinar id sollicitudin id, bibendum vel quam. Suspendisse nec ante non lacusvel sed sem</div>
        </div>
      </div>
      <div class="container container1200">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href="#">
                  <img src="temp/products_item_1.jpg" alt="">
                </a>
                <h4 class="name"><a href="#">Aliquam dolor tortor</a></h4>
                <div class="description">Suspendisse potenti. Etiam non euismod augue. Nam aliquam sit amet tortor sit amet consectetur.</div>
              </div>
              <div class="swiper-slide">
                <a href="#">
                  <img src="temp/products_item_2.jpg" alt="">
                </a>
                <h4 class="name"><a href="#">Pellentesque a metus</a></h4>
                <div class="description">Aenean egestas placerat nisi. Fusce sed libero tempus, ullamcorper nunc elit risus, convallis vitae tellus</div>
              </div>
              <div class="swiper-slide">
                <a href="#">
                  <img src="temp/products_item_3.jpg" alt="">
                </a>
                <h4 class="name"><a href="#">Aenean elementum</a></h4>
                <div class="description">Aenean egestas placerat nisi. Fusce sed libero tempus, ullamcorper nunc elit risus, convallis vitae tellus</div>
              </div>
              <div class="swiper-slide mr0">
                <a href="#">
                  <img src="temp/products_item_4.jpg" alt="">
                </a>
                <h4 class="name"><a href="#">Maecenas lacinia</a></h4>
                <div class="description">Aenean egestas placerat nisi. Fusce sed libero tempus, ullamcorper nunc elit risus, convallis vitae tellus</div>
              </div>
              <div class="swiper-slide">
                <a href="#">
                  <img src="temp/products_item_5.jpg" alt="">
                </a>
                <h4 class="name"><a href="#">Aliquam dolor tortor</a></h4>
                <div class="description">Suspendisse potenti. Etiam non euismod augue. Nam aliquam sit amet tortor sit amet consectetur.</div>
              </div>
              <div class="swiper-slide">
                <a href="#">
                  <img src="temp/products_item_6.jpg" alt="">
                </a>
                <h4 class="name"><a href="#">Pellentesque a metus</a></h4>
                <div class="description">Aenean egestas placerat nisi. Fusce sed libero tempus, ullamcorper nunc elit risus, convallis vitae tellus</div>
              </div>
              <div class="swiper-slide">
                <a href="#">
                  <img src="temp/products_item_7.jpg" alt="">
                </a>
                <h4 class="name"><a href="#">Aenean elementum</a></h4>
                <div class="description">Aenean egestas placerat nisi. Fusce sed libero tempus, ullamcorper nunc elit risus, convallis vitae tellus</div>
              </div>
              <div class="swiper-slide mr0">
                <a href="#">
                  <img src="temp/products_item_8.jpg" alt="">
                </a>
                <h4 class="name"><a href="#">Maecenas lacinia</a></h4>
                <div class="description">Aenean egestas placerat nisi. Fusce sed libero tempus, ullamcorper nunc elit risus, convallis vitae tellus</div>
              </div>
            </div>
            <ul class="flex-direction-nav">
              <li>
                <a class="flex-prev" href="#"></a>
              </li>
              <li>
                <a class="flex-next" href="#"></a>
              </li>
            </ul>
          </div>

        <a href="products.html" class="btn brown">view aur products</a>
      </div>
    </section>

    <section class="home-products scale-text">
      <div class="swiper-container">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="container">
              <div class="wrap">
                <div class="inner">
                  <div class="content">
                    <a href="#" class="image hidden-xs-757">
                      <img src="temp/home_products_1.jpg" alt="">
                    </a>
                    <div class="information">
                      <div class="wrap">
                        <h4 class="name"><a href="#">Delicious pancakes </a></h4>
                        <div class="description">Suspendisse et mollis risus, ut congue nisl. Praesent sed facilisis dui. Mauris facilisis tincidunt vestibulum. Maecenas volutpat sagittis mauris sodales in.</div>
                        <strong class="price">$4.58</strong>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="container">
              <div class="wrap">
                <div class="inner">
                  <div class="content">
                    <a href="#" class="image hidden-xs-757">
                      <img src="temp/home_products_2.jpg" alt="">
                    </a>
                    <div class="information">
                      <div class="wrap">
                        <h4 class="name"><a href="#">Cupcakes with cream cheese </a></h4>
                        <div class="description">Suspendisse et mollis risus, ut congue nisl. Praesent sed facilisis dui. Mauris facilisis tincidunt vestibulum. Maecenas volutpat sagittis mauris sodales in.</div>
                        <strong class="price">$4.58</strong>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="container">
              <div class="wrap">
                <div class="inner">
                  <div class="content">
                    <a href="#" class="image hidden-xs-757">
                      <img src="temp/home_products_3.jpg" alt="">
                    </a>
                    <div class="information">
                      <div class="wrap">
                        <h4 class="name"><a href="#">Peach Smoothie</a></h4>
                        <div class="description">Suspendisse et mollis risus, ut congue nisl. Praesent sed facilisis dui. Mauris facilisis tincidunt vestibulum. Maecenas volutpat sagittis mauris sodales in.</div>
                        <strong class="price"><span class="through">$2.30</span> $1.99</strong>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ul class="flex-direction-nav">
          <li>
            <a class="flex-prev" href="#"></a>
          </li>
          <li>
            <a class="flex-next" href="#"></a>
          </li>
        </ul>
      </div>
    </section>

    <section class="home-our-services scale-text">
      <div class="container">
        <div class="section-title">
          <h2>Our <b>Services</b></h2>
          <div class="description">Proin mattis rutrum magna, et pretium erat tincidunt at. Donec lectus ipsum, pulvinar id sollicitudin id, bibendum vel quam. Suspendisse nec ante non lacus malesuada lobortis vel sed sem</div>
        </div>
        <div class="services">
          <ul class="items">
            <li class="item-1">
              <a href="#" class="image"></a>
              <h3><a href="#">Creative Birthday Pie</a></h3>
              <div class="description">Integer ipsum ipsum, suscipit et gravida non, imperdiet eget nisl. Curabitur semper semper nunc, id suscipit</div>
            </li>
            <li class="item-2">
              <a href="#" class="image"></a>
              <h3><a href="#">Delivery To Any Poin</a></h3>
              <div class="description">Nam ac mauris mattis dui pretium pulvinar at consequat purus. Fusce nec tellus at nunc</div>
            </li>
            <li class="item-3">
              <a href="#" class="image"></a>
              <h3><a href="#">Individual Solutions</a></h3>
              <div class="description">Proin eget eros felis. Donec scelerisque mattis porta. Cras ullamcorper venenatis vulputate. Phasellus faucibus, risus</div>
            </li>
          </ul>      
        </div>
        <a href="services.html" class="btn brown">view all aur services</a>
      </div>
    </section>

    <section class="home-testimonials scale-text">
      <div class="container-fluid">
      <div class="section-title white">
        <h2>Clients <b>About Us</b></h2>
        <div class="description">Proin mattis rutrum magna, et pretium erat tincidunt at</div>
      </div>

      <div class="slider">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="temp/testimonials_1.png" alt="" class="hidden-xs">
              <div class="content">
                <div class="inner">
                  <blockquote>
                    <p>Integer ipsum ipsum, suscipit et gravida non, imperdiet eget nisl. Curabitur semper semper nunc, id suscipit diam ornare quis. Duis posuere blandit imperdiet. Mauris ac tortor elit. Mauris vel risus et dui luctus congue at in quam.</p>
                    <p>Duis est orci, luctus ut blandit vitae, volutpat in dolor.</p>
                  </blockquote>
                  <h4 class="author">Jasmine Dou</h4>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <img src="temp/testimonials_2.png" alt="" class="hidden-xs">
              <div class="content">
                <div class="inner">
                  <blockquote>
                    <p>Pellentesque ullamcorper tincidunt elit, eu ultrices mauris gravida id. Suspendisse tortor lectus, sagittis in velit nec, imperdiet sollicitudin lacus. Vestibulum mollis lacus nibh, sit amet commodo odio tincidunt eu. Maecenas blandit ante lacus, vel semper tortor feugiat sed. Duis maximus ac dui eget fermentum. Nullam leo nisl, sodales quis quam nec, consectetur tincidunt dolor. Fusce feugiat lorem at diam egestas, ac ultrices purus pulvinar. </p>
                  </blockquote>
                  <h4 class="author">Carolin Rayzer</h4>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <img src="temp/testimonials_3.png" alt="" class="hidden-xs">
              <div class="content">
                <div class="inner">
                  <blockquote>
                    <p>Cras vel ligula placerat, dictum nunc ac, tempus libero. Sed id sem at ipsum tristique luctus sed a enim. Sed diam massa, tempor sit amet dui quis, ornare venenatis risus.</p>
                    <p>Quisque non ultrices turpis. Curabitur dapibus, neque in aliquam convallis, orci massa euismod nulla, sed euismod turpis metus et urna. Curabitur vestibulum egestas eros id consectetur. Aenean eget tempus ex. Sed vitae magna at nisl aliquet maximus ut vel odio.</p>
                  </blockquote>
                  <h4 class="author">John Doe</h4>
                </div>
              </div>
            </div>
          </div>
          <ul class="flex-direction-nav">
            <li>
              <a class="flex-prev" href="#"></a>
            </li>
            <li>
              <a class="flex-next" href="#"></a>
            </li>
          </ul>
        </div>
      </div>
      </div>
    </section>
</div>

<!-- FOOTER -->
<footer id="footer">
  <div class="container">
    <div class="contact-phone">Call Us Today.: <a href="tel:555.785.8965"><strong>555. 785.8965</strong></a></div>
    <nav class="social-links">
      <strong>Follow us</strong>
      <ul>
        <li class="large ico facebook"><a href="https://www.facebook.com/" class="rounded-ico large" target="_blank"></a></li>
        <li class="large ico twitter"><a href="https://twitter.com/" class="rounded-ico large" target="_blank"></a></li>
        <li class="large ico google-plus"><a href="https://plus.google.com/" class="rounded-ico large" target="_blank"></a></li>
        <li class="large ico pinterest"><a href="https://www.pinterest.com/" class="rounded-ico large" target="_blank"></a></li>
        <li class="large ico linkedin"><a href="https://www.linkedin.com/" class="rounded-ico large" target="_blank"></a></li>
      </ul>
    </nav>
    <div class="copyright">&#169; Invisio Cakes. All rights reserved.</div>
  </div>
</footer>

<script src="https://maps.googleapis.com/maps/api/js"></script>
<script src="js/jquery-2.1.3.min.js"></script>
<script src="js/skrollr.min.js"></script>
<script src="js/idangerous.swiper.min.js"></script>
<script src="js/jquery.circliful.min.js"></script>
<script src="js/main.js"></script>
</body>

<!-- Mirrored from moonart.net.ua/htmlcut/cakes/invisio_cakes/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 21 Nov 2015 17:08:39 GMT -->
</html>
