{# app/Resources/views/layout.html.twig #}
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from moonart.net.ua/htmlcut/cakes/invisio_cakes/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 21 Nov 2015 17:08:38 GMT -->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1, initial-scale=1.0, user-scalable=no">
  <title>{% block title %}Sweet4U{% endblock %}</title>
  <link rel="shortcut icon" href="img/favicon.png" type="image/png">
  <link href="fonts/fonts.css" rel="stylesheet" type="text/css">
  <link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="loader">
    <img src="img/loader.gif" alt="loader">
</div>

<header id="header" class="hdTwo">
  <div class="container">
    
    {% block share %}
    
    <nav class="social" id="headerShareLinksHover">
      <a href="#" class="share-link"></a>
      <ul>
        <li class="facebook" style="top:-65px;" data-top="-65px">
          <a href="https://www.facebook.com/" target="_blank"></a>
        </li>
        <li class="twitter" style="top:-130px;" data-top="-130px">
          <a href="https://twitter.com/" target="_blank"></a>
        </li>
        <li class="google-plus" style="top:-195px;" data-top="-195px">
          <a href="https://plus.google.com/" target="_blank"></a>
        </li>
        <li class="pinterest" style="top:-260px;" data-top="-260px">
          <a href="https://www.pinterest.com/" target="_blank"></a>
        </li>
        <li class="linkedin" style="top:-325px;" data-top="-325px">
          <a href="https://www.linkedin.com/" target="_blank"></a>
        </li>
      </ul>
    </nav>
    
    {% endblock %}
   <!-- 
    <a href="#" class="show-nav"></a>
    <a href="index-2.html" class="logo mobile">
      <span class="icon"></span>
      <h1>Sweet4u</h1>
      <strong>cakes</strong>
    </a>
    
    -->
    
    <div class="hgroup">
      <a href="#" class="close-nav"></a>
      
      {% block menu %}
      
      {% endblock %}
      
      {% block recherche %}
          
      <div class="search">
        <a href="#" class="search-link"></a>
        <div class="search-form">
          <form action="#">
            <input type="text" value="Keyword" placeholder="">
            <input type="submit" value="">
          </form>
        </div>
      </div>
      
      {% endblock %}
      
    </div>
  </div>  
</header>

<div id="page">
    
    {% block slide %}
    
    <div class="home-slider full-height full-min-height">
      <div class="fixed-baner">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="bg bg-bg" style="background-image: url(temp/home_banner_1.jpg);"></div>
              <div class="container">
                <div class="top_bottom">
                  <div class="table">
                    <div class="t_td">
                      <div class="description animation-rotate hidden-320">Curabitur ultricies arcu non nibh</div>
                      <h2 class="animation-scale">We Make With Love</h2>
                      <a href="product_detail.html" class="btn red animation-btn">learn more about us</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="bg bg-bg" style="background-image: url(temp/home_banner_2.jpg);"></div>
              <div class="container">
                <div class="top_bottom">
                  <div class="table">
                    <div class="t_td">
                      <div class="description animation-rotate hidden-320">Pellentesque ullamcorper tincidunt</div>
                      <h2 class="animation-scale">All For Your Enjoyment</h2>
                      <a href="product_detail.html" class="btn red animation-btn">view our services</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="bg bg-bg" style="background-image: url(temp/home_banner_3.jpg);"></div>
              <div class="container">
                <div class="top_bottom">
                  <div class="table">
                    <div class="t_td">
                      <div class="description animation-rotate hidden-320">Suspendisse nec ante non lacus </div>
                      <h2 class="animation-scale">Taste Our Amazing Cakes</h2>
                      <a href="product_detail.html" class="btn red animation-btn">view aur delicious products</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pagination" data-0="margin-bottom:0px;" data-400="margin-bottom:100px;"></div>
          <!--<div class="wheel-wrap" data-0="margin-bottom:0px;" data-400="margin-bottom:100px;"><div class="wheel"></div></div>-->
        </div>
      </div>
    </div>
        
    {% endblock %}    
  
    {% block topArticle %}
    
    <section class="home-services scale-text">
      <div class="container">
        <div class="section-title">
          <h1>Goodies That <b>We Do</b></h1>
          <div class="description">Proin mattis rutrum magna, et pretium erat tincidunt at. Donec lectus ipsum, pulvinar id sollicitudin id, bibendum vel quam. Suspendisse nec ante non lacusvel sed sem</div>
        </div>
      </div>
      <div class="container container1200">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href="#">
                  <img src="temp/products_item_1.jpg" alt="">
                </a>
                <h4 class="name"><a href="#">Aliquam dolor tortor</a></h4>
                <div class="description">Suspendisse potenti. Etiam non euismod augue. Nam aliquam sit amet tortor sit amet consectetur.</div>
              </div>
              <div class="swiper-slide">
                <a href="#">
                  <img src="temp/products_item_2.jpg" alt="">
                </a>
                <h4 class="name"><a href="#">Pellentesque a metus</a></h4>
                <div class="description">Aenean egestas placerat nisi. Fusce sed libero tempus, ullamcorper nunc elit risus, convallis vitae tellus</div>
              </div>
              <div class="swiper-slide">
                <a href="#">
                  <img src="temp/products_item_3.jpg" alt="">
                </a>
                <h4 class="name"><a href="#">Aenean elementum</a></h4>
                <div class="description">Aenean egestas placerat nisi. Fusce sed libero tempus, ullamcorper nunc elit risus, convallis vitae tellus</div>
              </div>
              <div class="swiper-slide mr0">
                <a href="#">
                  <img src="temp/products_item_4.jpg" alt="">
                </a>
                <h4 class="name"><a href="#">Maecenas lacinia</a></h4>
                <div class="description">Aenean egestas placerat nisi. Fusce sed libero tempus, ullamcorper nunc elit risus, convallis vitae tellus</div>
              </div>
              <div class="swiper-slide">
                <a href="#">
                  <img src="temp/products_item_5.jpg" alt="">
                </a>
                <h4 class="name"><a href="#">Aliquam dolor tortor</a></h4>
                <div class="description">Suspendisse potenti. Etiam non euismod augue. Nam aliquam sit amet tortor sit amet consectetur.</div>
              </div>
              <div class="swiper-slide">
                <a href="#">
                  <img src="temp/products_item_6.jpg" alt="">
                </a>
                <h4 class="name"><a href="#">Pellentesque a metus</a></h4>
                <div class="description">Aenean egestas placerat nisi. Fusce sed libero tempus, ullamcorper nunc elit risus, convallis vitae tellus</div>
              </div>
              <div class="swiper-slide">
                <a href="#">
                  <img src="temp/products_item_7.jpg" alt="">
                </a>
                <h4 class="name"><a href="#">Aenean elementum</a></h4>
                <div class="description">Aenean egestas placerat nisi. Fusce sed libero tempus, ullamcorper nunc elit risus, convallis vitae tellus</div>
              </div>
              <div class="swiper-slide mr0">
                <a href="#">
                  <img src="temp/products_item_8.jpg" alt="">
                </a>
                <h4 class="name"><a href="#">Maecenas lacinia</a></h4>
                <div class="description">Aenean egestas placerat nisi. Fusce sed libero tempus, ullamcorper nunc elit risus, convallis vitae tellus</div>
              </div>
            </div>
            <ul class="flex-direction-nav">
              <li>
                <a class="flex-prev" href="#"></a>
              </li>
              <li>
                <a class="flex-next" href="#"></a>
              </li>
            </ul>
          </div>

        <a href="products.html" class="btn brown">view aur products</a>
      </div>
    </section>
        
    {% endblock %}
    
    {% block body %}
        
    {% endblock %}
    
        
</div>

<!-- FOOTER -->
{% block footer %}
<footer id="footer">
  <div class="container">
    <div class="contact-phone">Call Us Today.: <a href="tel:555.785.8965"><strong>555. 785.8965</strong></a></div>
    <nav class="social-links">
      <strong>Follow us</strong>
      <ul>
        <li class="large ico facebook"><a href="https://www.facebook.com/" class="rounded-ico large" target="_blank"></a></li>
        <li class="large ico twitter"><a href="https://twitter.com/" class="rounded-ico large" target="_blank"></a></li>
        <li class="large ico google-plus"><a href="https://plus.google.com/" class="rounded-ico large" target="_blank"></a></li>
        <li class="large ico pinterest"><a href="https://www.pinterest.com/" class="rounded-ico large" target="_blank"></a></li>
        <li class="large ico linkedin"><a href="https://www.linkedin.com/" class="rounded-ico large" target="_blank"></a></li>
      </ul>
    </nav>
    <div class="copyright">&#169; Sweet4u. All rights reserved.</div>
  </div>
</footer>
{% endblock %}

<script src="https://maps.googleapis.com/maps/api/js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="js/jquery-2.1.3.min.js"></script>
<script src="js/skrollr.min.js"></script>
<script src="js/idangerous.swiper.min.js"></script>
<script src="js/jquery.circliful.min.js"></script>
<script src="js/main.js"></script>
</body>

<!-- Mirrored from moonart.net.ua/htmlcut/cakes/invisio_cakes/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 21 Nov 2015 17:08:39 GMT -->
</html>
