        


    <li class="">
        <div class="">
          <a href="#">
            <img src="{{ asset ('temp/products_item_1.jpg')}}" alt="">
          </a>
          <h4 class="name"><a href="#">Aliquam dolor tortor</a></h4>
          <div class="description">Suspendisse potenti. Etiam non euismod augue. Nam aliquam sit amet tortor sit amet consectetur.</div>
          <strong class="price">$3.99 
              <a href="#openModal" style="margin-left: 10%"><img src="{{ asset ('img/ajouter au pagner.png')}}" alt="" style="height: 50px; width: 50px"> </a>
          </strong>
        </div>
    </li>
       