        


    <li class="product mix cakes scale-text">
          <div class="">
          <a href="product_detail.html">
            <img src="temp/products_item_1.jpg" alt="">
          </a>
          <h4 class="name"><a href="product_detail.html">Aliquam dolor tortor</a></h4>
          <div class="description">Suspendisse potenti. Etiam non euismod augue. Nam aliquam sit amet tortor sit amet consectetur.</div>
          <strong class="price">$3.99</strong>
          </div>
    </li>
