
<link rel="stylesheet" type="text/css" href="{{ asset('css/logincss.css')}}" />

<a href="#autentif" ><img src="{{ asset ('img/login.png') }}" alt="" style="height: 25px; width: 25px;"> Login</a>

<div id="autentif" class="modalDialog">
	<div>
		<a href="#close" title="Close" class="close">X</a>
		<div class="container">
	<section id="content">
		
<form action="" method="post">
    <h2> authentification </h2>

    <input type="text" id="username" name="_username" placeholder="login"  required="required" /></br>

   
    <input type="password" id="password" name="_password" placeholder="password" required="required" /></br>

    

    <input type="submit" id="_submit" name="_submit" value="se connecter"  style="color: #ffffff"/>
</form>
	</section><!-- content -->
</div><!-- container -->
        </div>
</div>


