
<link rel="stylesheet" type="text/css" href="{{ asset('css/inscription.css')}}" />

<a href="#openModal" style="margin-left: 2%"><img src="{{ asset ('img/compte.png')}}" alt="" style="height: 25px; width: 25px"> Create an Account</a>


<div id="openModal" class="modalDialog">
   
     <a href="#close" title="Close" class="close">X</a>
        <div id="container_demo" >
            <!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
            <a class="hiddenanchor" id="toregister"></a>
            <a class="hiddenanchor" id="tologin"></a>
            <div id="wrapper">


                <div id="register" class="animate form">
                    <form  action="mysuperscript.php" autocomplete="on"> 
                        <h1> Formulaire inscription </h1> 
                        <input type="text"/>
                       
                    </form>
                </div>

            </div>
        </div>
    
</div>




