
<nav class="main-nav">
        <ul class="left">
          <li><a class="active" href="index-2.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="products.html">Products</a></li>
        </ul>
        <div class="wrap-logo">
          <a href="index-2.html" class="logo" title="Invisio">
            <span class="icon"></span>
            <h1>Sweet4U</h1>
            <strong>cakes</strong>
          </a>
        </div>
        <ul class="right">
          <li><a href="services.html">Services</a></li>
          <li class="menu-item-has-children close"><a href="#">Blog</a>
          	<ul class="submenu">
            	<li><a href="blog.html">Blog style 1</a></li>
                <li><a href="blog_archive.html">Blog style 2</a></li>
            </ul>
          </li>
          <li><a href="contact_us.html">Contact Us</a></li>
        </ul>
      </nav>
