<div class="home-slider full-height full-min-height">
      <div class="fixed-baner">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="bg bg-bg" style="background-image: url(temp/home_banner_1.jpg);"></div>
              <div class="container">
                <div class="top_bottom">
                  <div class="table">
                    <div class="t_td">
                      <div class="description animation-rotate hidden-320">Curabitur ultricies arcu non nibh</div>
                      <h2 class="animation-scale">We Make With Love</h2>
                      <a href="product_detail.html" class="btn red animation-btn">learn more about us</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="bg bg-bg" style="background-image: url(temp/home_banner_2.jpg);"></div>
              <div class="container">
                <div class="top_bottom">
                  <div class="table">
                    <div class="t_td">
                      <div class="description animation-rotate hidden-320">Pellentesque ullamcorper tincidunt</div>
                      <h2 class="animation-scale">All For Your Enjoyment</h2>
                      <a href="product_detail.html" class="btn red animation-btn">view our services</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="bg bg-bg" style="background-image: url(temp/home_banner_3.jpg);"></div>
              <div class="container">
                <div class="top_bottom">
                  <div class="table">
                    <div class="t_td">
                      <div class="description animation-rotate hidden-320">Suspendisse nec ante non lacus </div>
                      <h2 class="animation-scale">Taste Our Amazing Cakes</h2>
                      <a href="product_detail.html" class="btn red animation-btn">view aur delicious products</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pagination" data-0="margin-bottom:0px;" data-400="margin-bottom:100px;"></div>
          <!--<div class="wheel-wrap" data-0="margin-bottom:0px;" data-400="margin-bottom:100px;"><div class="wheel"></div></div>-->
        </div>
      </div>
    </div>